<ion-header>
  <ion-toolbar>
    <ion-title>Rutas de Cardio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 60vh;"></div>

  <ion-button expand="block" color="primary" (click)="saveNewRoute()">
    Crear Nueva Ruta desde Selección
  </ion-button>

  <ion-list>
    <ion-list-header>Rutas Personales</ion-list-header>
    <ion-item *ngFor="let route of routes">
      <ion-label>
        <h2>{{ route.name }}</h2>
        <p>Estado: {{ route.status || 'pendiente' }}</p>
      </ion-label>

      <ion-button *ngIf="route.status !== 'started' && route.status !== 'completed'" slot="end" color="success" (click)="startRoute(route.id)">
        Iniciar
      </ion-button>

      <ion-button *ngIf="route.status === 'started'" slot="end" color="warning" (click)="resetTimer()">
        Resetear Tiempo
      </ion-button>

      <ion-button *ngIf="route.status === 'started'" slot="end" color="tertiary" (click)="completeRoute(route.id)">
  Completar
</ion-button>

      <ion-button slot="end" color="danger" (click)="deleteRoute(route.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>

  <ion-footer *ngIf="activeRouteId !== null">
    <ion-toolbar>
      <ion-title>Tiempo: {{ formatTime(elapsedSeconds) }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
